:root {
    --base_color: #191919;
    --secondary_color: #c9c9c9;
    --base_color_op: #191919ee;
    --secondary_color_op: #c9c9c988;
    --shadows: rgba(0, 0, 0, .7);
    --header-bg-url: url("../resources/dev-full.jpg");
    --present-bg-url: url("../resources/about-full.jpg");
}

* {
    font-size: 62.5%; /* 1rem = 10px */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;

    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Montserrat;
}

.can-select {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.alt-font {
    font-family: Kalam;
}

body {
    --inner-height: 100vh;
    
    overflow-x: hidden;
    background-color: var(--base_color);
}

body.project-visible {
    overflow-y: hidden;
}

strong, em {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

strong {
    font-weight: 600;
}

li {
    list-style-type: none;
}

button:focus {
    outline: none;
}

span {
    font-size: 100%;
}