.grid-container {
    display: grid;
    padding: 2rem;
}

.icon {
    height: 5rem;
    padding: 1rem;
}

.title {
    grid-area: title;
    height: fit-content;
    text-transform: uppercase;
}

.title h2 {
    width: 100%;
    font-size: 8rem;
    text-shadow: .5rem .5rem 1rem var(--shadows);
}

.title h3 {
    position: relative;
    top: -2rem;

    display: inline-block;
    padding-top: .5rem;
    
    font-family: Montserrat;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--secondary_color_op);
    border-top: solid .3rem var(--secondary_color);
}