.grid-container {
    display: grid;
    padding: 2rem;
}

.icon {
    height: 5rem;
    padding: 1rem;
}

.title {
    height: fit-content;
}

.title > * {
    display: inline-block;
    text-transform: uppercase;
}

.title h2 {
    width: 100%;
    font-size: 8rem;
    text-shadow: .5rem .5rem 1rem var(--shadows);
}

.title h3 {
    position: relative;
    top: -1.75rem;
    
    font-family: Montserrat;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--secondary_color_op);
}

.title h3::before {
    content: '';
    position: absolute;
    top: -1rem;

    height: .2rem;
    width: 100%;

    background-color: var(--secondary_color);
}