@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400');
/* Changes from Bootstrap */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Roboto Condensed';
}

.h1, h1 {
    font-size: 2.5rem;
}

.h2, h2 {
    font-size: 2rem;
}

.h3, h3 {
    font-size: 1.75rem;
}

.h4, h4 {
    font-size: 1.5rem;
}

.h5, h5 {
    font-size: 1.25rem;
}

.h6, h6 {
    font-size: 1rem;
}

.p, p {
    font-family: "Raleway";
}

/* Real CSS */

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    scroll-behavior: smooth;
    --color_f: whitesmoke;
    --color_s: #2b2b2b;
}

body {
    height: 200vh;
    background-color: #ddd;
}

/* NAV */

nav {
    display: flex;
    height: 100vh;
}

#nav-list {
    position: fixed;
    top: 50%;
    right: 1rem;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    transform: translateY(-50%);
    --selected_color: #087d99;
}

#nav-list li {
    cursor: pointer;
    position: relative;
    display: flex;
    height: .75rem;
    width: .75rem;
    align-items: center;
    overflow: hidden;
    padding: .5rem .5rem;
    margin: .5rem .5rem;
    transition: all .5s ease-in-out;

    color: whitesmoke;
}

#nav-list li::before {
    position: absolute;
    right: 0;
    z-index: 5;
    content: '';
    height: .75rem;
    width: .75rem;
    border-radius: 100%;
    background-color: whitesmoke;
    box-shadow: inset .5px .5px 2px var(--color_s);
    transition: all .2s ease-in-out;
}

#nav-list:hover li {
    width: 8rem;
}

#nav-list:hover li::before {
    opacity: 0;
}

#nav-list li p, #nav-list li a {
    display: inline;
    opacity: 0;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1.7px;
    text-decoration: none;
    transform: translateX(12rem) scaleY(.85);
    transition-delay: .3s;
    transition: all .5s ease-in-out;
}

#nav-list:hover li p, #nav-list:hover li a {
    font-weight: bold;
    
    opacity: 1;
    transform: translateX(0) scaleY(.85);
}

#nav-list:hover li p::before, #nav-list:hover li a::before {
    position: absolute;
    content: '';
    top: 1.5rem;
    height: .15rem;
    width: 0;
    background-color: var(--selected_color);
    transition: all .2s ease-in-out;
}

#nav-list:hover li:hover p::before, #nav-list:hover li:hover a::before {
    width: 3rem;
}

/*#nav-list li.active p {
    Changer le text en .active (en cours)
}*/

#nav-list li.active::before {
    background-color: var(--selected_color);
}

/*@keyframes nav-list_hover {
    from {
        opacity: 0;
        transform: translateX(25rem);
    }

    50% {
        opacity: .1;
    }

    to {
        opacity: 1;
    }
}*/

/* CONTACT */

.contact-list {
    position: absolute;
    top: 0;
    z-index: 5;

    display: flex;
    gap: 4rem;
    height: 4rem;
    margin: 0 4rem;
    list-style-type: none;
}

.contact-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
}

.contact-list svg {
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 100%;
    transition: all .2s ease-in-out;
}

.contact-list svg .main {
    fill: transparent;
}

.contact-list svg .secondly {
    fill: whitesmoke;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../resources/fond.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 120vh;
    width: 100%;
}

.names {
    position: absolute;
    top: 0;
    z-index: 12;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 100vh;
    width: 100%;
    
    color: var(--color_f);
}

.names h1 {
    font-family: 'Ubuntu';
    font-size: 8rem;
    letter-spacing: 2px;
    line-height: 85%;
    text-align: end;
    text-shadow: 5px 5px 3px var(--color_s);
}

.names p {
    font-family: 'Roboto Condensed';
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 7px;
    text-align: end;
    transform: scaleY(.85);
}

/* Arrows Down */

#arrows_down {
    position: absolute;
    left: 50%;
    bottom: 5rem;
    z-index: 7;

    height: 1.5rem;
    width: 1.5rem;
    opacity: 1;
    overflow: visible;

    transform: translateX(-50%);
    --base_size: .5rem;

    transition: all .3s ease-in-out;
}

#arrows_down.invisible {
    opacity: 0;
}

#arrows_down polygon {
    opacity: 0;
    fill: whitesmoke;

    transform-origin: center;
    transform: scale(.3);
    animation: arrow_animation 3s ease-out infinite;
}

#arrows_down polygon:nth-child(2) {
    animation: arrow_animation 3s ease-out 1s infinite;
}

#arrows_down polygon:nth-child(3) {
    animation: arrow_animation 3s ease-out 2s infinite;
}

@keyframes arrow_animation {
    0% {
        opacity: 0;
   }
    33.3% {
        opacity: .7;
        transform: translateY(calc(var(--base_size) * 3.5));
   }
    66.6% {
        opacity: .7;
        transform: translateY(calc(var(--base_size) * 5.5));
   }
    100% {
        opacity: 0;
        transform: translateY(calc(var(--base_size) * 7.5)) scale(.8);
   }
}

#presentation {
    position: relative;
    top: 5rem;
    z-index: 20;

    width: 60%;
    margin: auto;
    padding: 5%;
    border-radius: 1rem;
    background-color: whitesmoke;

    text-align: center;
    
    box-shadow: 5px 5px 10px var(--color_s), -5px 5px 10px var(--color_s);
}

#photo {
    position: relative;
    top: -2rem;
    
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    margin: auto;
}

#photo img {
    position: absolute;
    z-index: 8;
    height: 100%;
    width: 100%;
    border-radius: inherit;

    transform: translateX(-50%);
}

#photo::before {
    content: '';
    position: absolute;
    z-index: 6;
    height: 10.7rem;
    width: 10.7rem;
    border-radius: inherit;

    background: linear-gradient(33.3deg, #087d99, #b8e994);
    transform: translateX(-50%) translateY(-.35rem);
    filter: blur(2px);
}

#presentation {
    font-family: 'Open Sans', sans-serif;
}

#presentation .quote {
    color: #087d99;
    min-width: 12rem;
    width: 100%;
    max-width: 25rem;
    margin: auto;
}

#presentation .quote .txt {
    position: relative;
    font-weight: 600;
    font-size: 1.75rem;

    margin: 1.5rem 1.5rem 0 1.5rem;
}

#presentation .quote .txt::before, #presentation .quote .txt::after {
    content: '';
    position: absolute;

    height: 2rem;
    width: 2rem;
    padding: .25rem;
    background-color: #087d99;
    clip-path: url("#quote_clip");
}

#presentation .quote .txt::before {
    top: -.5rem;
    
    transform: translateX(-100%);
}

#presentation .quote .txt::after {
    bottom: -.5rem;

    transform: rotateZ(180deg);
}

#presentation .quote .signature {
    margin: .5rem;
    text-align: end;
}

/*#photo::before {
    content: '';
    position: absolute;
    z-index: 5;

    height: 12rem;
    width: 12rem;
    border-radius: inherit;
    background-color: #087d99;
    box-shadow: 3px 3px 7.5px var(--color_s);
}*/