header {
    --bg-position: 75%;
    
    position: relative;
    overflow: hidden;

    height: 100vh;
    max-height: var(--inner-height);
    width: 100%;
    color: var(--secondary_color);
    box-shadow: -.5rem 1rem 7.5rem var(--shadows);
}

header::before { /* Set background to ::before to change its opacity */
    content: '';
    position: absolute;
    z-index: -1;

    height: 100%;
    width: 100%;

    background: var(--header-bg-url) fixed center no-repeat;
    background-size: cover;
    background-position-y: var(--bg-position);
    
    opacity: .5;
}

/* -------------------------------------------------- */

input[id="menu_btn"] {
    display: none;
}

label[for="menu_btn"] {
    position: fixed;
    top: 3rem;
    right: 3rem;
    z-index: 3;

    cursor: pointer;

    width: 7.5rem;
    color: var(--secondary_color);
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .25;
    mix-blend-mode: exclusion;
}

label[for="menu_btn"]::before, label[for="menu_btn"]::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1rem;

    height: 2.2rem;
    width: .26rem;
    background-color: var(--secondary_color);
    transform: translateX(-50%) translateY(-50%) skewX(-15deg);
    transition: transform .2s ease;
}

label[for="menu_btn"]::after {
    transform: translateX(calc(-50% + .5rem)) translateY(-50%) skewX(-15deg);
}

input[id="menu_btn"]:checked ~ label::before {
    right: 1rem;
    transform: translateY(-50%) rotate(-45deg);
}

input[id="menu_btn"]:checked ~ label::after {
    right: 1rem;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menu_btn"]:checked ~ #navbar {
    opacity: 1;
    z-index: 2;
}

/* -------------------------------------------------- */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    background-color: #191919c2;
    backdrop-filter: blur(.5rem);

    text-align: center;
    font-size: 20rem;
    font-weight: 300;
    color: var(--secondary_color);

    transition-delay: .1s;
    transition: opacity .3s ease;
}

#nav-list {
    position: relative;
    display: flex;
    flex-direction: column;

    font-size: 7.5rem;

    list-style-type: none;
    color: inherit;
}

#nav-list > li {
    cursor: pointer;
    position: relative;

    margin: 3rem 0;
}

#nav-list > li:hover {
    color: var(--secondary_color_op);
}

#nav-list > li:after {
    content: '';
    position: absolute;
    bottom: -3rem;
    left: 50%;

    height: .01rem;
    width: 10rem;
    background-color: var(--secondary_color);
    opacity: .5;

    transform: translateX(-50%);
}

#nav-list > li:last-child:after { /* Keep separation only between 2 elements */
    display: none;
}

/* -------------------------------------------------- */

.languages {
    position: absolute;
    bottom: 2.5rem; right: 2.5rem;

    display: flex;
    font-size: 1.5rem;
    opacity: .75;
}

.languages a {
    padding: 0 1rem;

    border-right: solid .2rem var(--secondary_color);
}

.languages a:hover {
    color: var(--secondary_color_op);
}

.languages a:last-child {
    border-right: none;
}

/* -------------------------------------------------- */

#names {
    position: relative;
    top: 50%;

    text-transform: uppercase;
    text-align: center;
    color: inherit;
    transform: translateY(-50%);
}

#names h1 {
    font-size: 9rem;
    font-weight: 700;
    letter-spacing: .25rem;
    line-height: 7.5rem;
}

#names h2 {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: .5rem;
}

/* -------------------------------------------------- */

#arrows_down {
    position: absolute;
    left: 50%;
    bottom: 6rem;

    height: 3rem;
    width: 3rem;
    overflow: visible;

    transform: translateX(-50%);
    --base_size: .8rem;
}

#arrows_down polygon {
    opacity: 0;
    fill: var(--secondary_color);

    transform-origin: center;
    transform: scale(.2);
    
    animation: arrow_animation 3s ease-out infinite;
}

#arrows_down polygon:nth-child(2) {
    animation-delay: 1s;
}

#arrows_down polygon:nth-child(3) {
    animation-delay: 2s;
}

@keyframes arrow_animation {
    0% {
        opacity: 0;
   }
    33.3% {
        opacity: .8;
        transform: translateY(calc(var(--base_size) * 3.5));
   }
    66.6% {
        opacity: .8;
        transform: translateY(calc(var(--base_size) * 5));
   }
    100% {
        opacity: 0;
        transform: translateY(calc(var(--base_size) * 6.5)) scale(.8);
   }
}