#knowledge {
    position: relative;
    top: -2.5rem;

    height: fit-content;
    background-color: var(--secondary_color);
    box-shadow: -.5rem -1rem 7.5rem var(--shadows);

    transform: skewY(1deg);
}

#knowledge::before, #knowledge::after {
    content: '';
    position: absolute;

    height: 1rem;
    width: 100%;
    background-color: inherit;
}

#knowledge::before {
    top: -2rem;
}

#knowledge::after {
    bottom: -2rem;
}

/* -------------------------------------------------- */

#knowledge .grid-container {
    grid-template-areas: "tools software languages";
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    column-gap: 3rem;

    position: relative;
    height: fit-content;

    padding: 3rem 8rem;

    transform: skewY(-1deg);
}

#knowledge .grid-item {
    justify-self: stretch;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#knowledge .grid-item h4 {
    position: relative;

    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 300;
}

#knowledge .grid-item h4::before {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 50%;

    height: .1rem;
    width: 5rem;
    opacity: .7;
    background-color: var(--base_color);

    transform: translateX(-50%);
}

#knowledge img.icon {
    padding: .5rem;
    border-radius: 5rem;
    border: solid .1rem var(--base_color);
}

#knowledge .grid-item p {
    margin: 1rem 0;
    font-size: 1.5rem;
    width: 30rem;
}

#knowledge .icon-list {
    display: flex;
    list-style-type: none;
}

#knowledge img.icon.no-wrap {
    position: relative;
    border: none;
    border-radius: 0;
    filter: saturate(50%);
}

#knowledge img.icon.no-wrap:hover {
    filter: none;
}

#knowledge .icon-list li {
    position: relative;
}

#knowledge .icon-list li::before {
    content: attr(alt);
    position: absolute;
    left: 50%;
    bottom: -3rem;

    display: none;
    height: fit-content;
    width: fit-content;
    padding: .5rem;

    font-size: 1rem;
    color: var(--secondary_color);
    border-radius: 1rem;
    background-color: var(--base_color_op);
    box-shadow: .1rem .1rem .2rem var(--shadows);

    transform: translateX(-50%);
}

#knowledge .icon-list li:hover::before {
    display: block;
}

#knowledge .grid-container .grid-item:nth-child(1) {
    grid-area: tools;
}

#knowledge .grid-container .grid-item:nth-child(2) {
    grid-area: software;
}

#knowledge .grid-container .grid-item:nth-child(3) {
    grid-area: languages;
}