@media (max-width: 1200px) {
    #presentation {
        grid-template-areas: "title contact"
                             "descr descr";
        grid-template-columns: auto-fit;
        justify-items: center;
    }

    #knowledge .grid-container {
        grid-template-areas: "tools software"
                             "languages languages";
    }
}

@media (max-width: 810px) {
    :root {
        font-size: 40%;
        --header-bg-url: url("../resources/dev.jpg");
        --present-bg-url: url("../resources/about.jpg");
    }

    #knowledge .grid-container {
        grid-template-areas: "tools"
                             "software"
                             "languages";
    }
}