@media (max-width: 1200px) {
    #presentation {
        grid-template-columns: auto-fit;
        justify-items: center;
    }

    #descr {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    #knowledge .grid-container div:last-child {
        grid-row: span 2;
    }
}

@media (max-width: 810px) {
    :root {
        font-size: 40%;
        --header-bg-url: url("../resources/dev.jpg");
        --present-bg-url: url("../resources/about.jpg");
    }

    #presentation {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #descr {
        grid-column: 1;
        grid-row: 2;
    }

    #knowledge .grid-container div:last-child {
        grid-row: 3;
    }
}