/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
  or
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1281px) {
    .desktop-1 { --base-size: 2; }
    .desktop-2 { --base-size: 1.7; }
    .desktop-3 { --base-size: 1.4; }

    .desktop-sp-1 { --base-size-sp: 2; }
    .desktop-sp-2 { --base-size-sp: 1.7; }
    .desktop-sp-3 { --base-size-sp: 1.4; }

    header {
        height: 100vh;
    }

    #presentation .grid-container {
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 15rem 15rem 15rem;
        grid-template-areas: "title descr"
                             "contact descr"
                             "cv descr";
    }

    #contact {
        padding-left: calc(var(--base-size) * 2rem);
    }

    .card::before {
        transition: height .4s ease-in-out, width .4s ease-in-out;
    }

    .card > button:hover {
        width: 12rem;
    }

    .card > button:hover::before {
        content: 'Read More';
        font-size: 1.5rem;
        font-weight: 600;
    }

    body:not(.animations-disabled) [class*=anim-] { opacity: 0; }

    body:not(.animations-disabled) .anim-top { transform: translateY(-4rem); }
    body:not(.animations-disabled) .anim-bottom { transform: translateY(4rem); }
    body:not(.animations-disabled) .anim-left { transform: translateX(-4rem); }
    body:not(.animations-disabled) .anim-right { transform: translateX(4rem); }
    body:not(.animations-disabled) .anim-back { transform: scale(.7); }

    body:not(.animations-disabled) .anim-back.anim-top { transform: scale(.7) translateY(-4rem); }
    body:not(.animations-disabled) .anim-back.anim-bottom { transform: scale(.7) translateY(4rem); }
    body:not(.animations-disabled) .anim-back.anim-left { transform: scale(.7) translateX(-4rem); }
    body:not(.animations-disabled) .anim-back.anim-right { transform: scale(.7) translateX(4rem); }

    body:not(.animations-disabled) [class*=anim-].reveal {
        opacity: initial;
        transform: initial;
        transition-property: transform, opacity;
        transition: 1s;
    }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  or
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px  
*/

@media (min-width: 481px) and (max-width: 767px),
        (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    header {
        height: 100vh;
    }

    #project-wrapper .grid-container {
        grid-template-columns: 3fr 2fr;
        grid-template-areas: "pictures descr"
                             "technos descr";
        grid-template-rows: auto 1fr;

        max-width: 100%;
    }

    #project-wrapper .technos {
        height: 100%;
        background-color: transparent;
    }

    .technos img {
        width: 5rem;
    }
}