@media (max-width: 1200px) {
    #presentation {
        min-height: auto;
    }

    #presentation .grid-container {
        grid-template-areas: "title contact"
                             "descr descr";
        justify-items: center;
        row-gap: 2rem;
    }

    #knowledge .grid-container {
        grid-template-areas: "tools software"
                             "languages languages";
    }
}

@media (max-width: 800px) {
    :root {
        font-size: 50%;
        --header-bg-url: url("../resources/dev.jpg");
        --present-bg-url: url("../resources/about.jpg");
    }

    .title h2 {
        font-size: 5rem;
    }

    #knowledge .grid-container {
        grid-template-areas: "tools"
                             "software"
                             "languages";
        row-gap: 3rem;
    }
}

@media (orientation: landscape) and  (max-height: 500px) {
    #project-wrapper .grid-container {
        max-width: 40rem;
    }

    .pictures {
        max-height: 20rem;
    }

    #project-wrapper p {
        max-height: 20rem;
    }
}