@media (max-width: 1200px) {
    #presentation {
        grid-template-areas: "title contact"
                             "descr descr";
        justify-items: center;
        row-gap: 2rem;
    }

    #knowledge .grid-container {
        grid-template-areas: "tools software"
                             "languages languages";
        row-gap: 0rem;
    }
}

@media (max-width: 810px) {
    :root {
        font-size: 40%;
        --header-bg-url: url("../resources/dev.jpg");
        --present-bg-url: url("../resources/about.jpg");
    }

    .title h2 {
        font-size: 5rem;
    }

    #knowledge .grid-container {
        grid-template-areas: "tools"
                             "software"
                             "languages";
    }
}