#presentation {
    --bg-position: 75%;

    position: relative;

    width: 100%;
    padding: 5%;
    padding-bottom: 10%;
    color: var(--secondary_color);
}

#presentation::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 100%;
    width: 100%;
    background: var(--present-bg-url) fixed center no-repeat;
    background-size: cover;
    background-position-y: var(--bg-position);

    opacity: .5;
}

#presentation .grid-container {
    grid-template-areas: "title descr"
                         "contact descr";
    grid-template-columns: 35% auto;
    grid-template-rows: 20rem auto;
    column-gap: 5rem;
    row-gap: 5rem;
    grid-auto-flow: dense;
}

/* -------------------------------------------------- */

#contact {
    grid-area: contact;

    display: flex;
    flex-direction: column;
    align-items: start;
}

#contact > * {
    display: flex;
    align-items: center;

    width: 100%;
    font-size: 2.75rem;
    font-weight: 400;
}

#contact > * > i {
    font-size: 2.75rem;
    margin: 5%;
}

#contact a:hover {
    opacity: .75;
}

/* -------------------------------------------------- */

#descr {
    grid-area: descr;
    align-self: center;

    position: relative;

    text-align: justify;
    font-size: 1.75rem;
    height: fit-content;
    width: 90%;

    padding: 6rem;
    backdrop-filter: blur(.75rem);

    box-shadow: 2rem 2rem 5rem var(--shadows);
}

#descr::before {
    content: '';
    position: absolute;
    top: -2rem;
    left: -2rem;
    z-index: -1;

    height: 100%;
    width: 100%;
    opacity: .5;
    border-radius: inherit;

    border: solid .2rem var(--secondary_color); 
}

#descr > a {
    display: inline-block;
    font-size: inherit;
    color: #8a6e5d;
}

#descr > a:hover {
    color: var(--secondary_color_op);
}