#work {
    --bg-position: 75%;

    position: relative;
    top: -5rem;

    width: 100%;
    padding: 10% 5%;
    color: var(--secondary_color);
}

#work::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: calc(100% + 5rem);
    width: 100%;
    background: url("../resources/datacenter.jpg") fixed no-repeat;
    background-size: cover;
    background-position-y: var(--bg-position);

    opacity: .7;
}

#work > .grid-container {
    grid-template-columns: repeat(auto-fit, 30rem);
    column-gap: 5rem;
    row-gap: 5rem;
    align-items: center;
    justify-content: center;

    padding-top: 7.5%;

    font-size: 5rem;
    color: var(--secondary_color);
}

.card {
    --mouseY: 0;
    --mouseX: 0;
    --select-h: 0;
    --select-w: 0;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    height: 30rem;
    width: 30rem;
    padding: 2rem;
    overflow: hidden;
    text-align: center;
    backdrop-filter: blur(1rem);
    border-radius: .5rem;

    box-shadow: .20rem .25rem .7rem var(--shadows);

    transition: all .4s ease-in-out;
}

.card::before {
    content: '';
    position: absolute;
    top: var(--mouseY);
    left: var(--mouseX);

    height: var(--select-h);
    width: var(--select-w);

    border-radius: 100%;
    background-color: #7289DA;
    opacity: .5;
    filter: blur(1rem);
    transform: translateX(-50%) translateY(-50%);
    
    transition: height .4s ease-in-out, width .4s ease-in-out;
}

.card .txt {
    position: absolute;
    top: 100%;
    z-index: 1;

    margin: 0 1rem;
    padding-bottom: .75rem 0;
    opacity: 1;

    transition: all .3s ease;
}

.card .txt h4 {
    font-size: 2.5rem;
    text-shadow: .2rem .2rem .4rem var(--shadows);
}

.card .txt p {
    font-size: 1.5rem;
    font-weight: 300;
}

.card .txt p > a {
    position: relative;
    display: inline-block;
    font-size: inherit;
    color: #80a9c4;
}

.card .txt p > a:hover {
    color: var(--secondary_color_op);
}

.card:hover .txt {
    top: 57.5%;
}

.card:first-child {
    align-self: flex-start;
    justify-self: start;
}

.card:nth-child(2)::before {
    background-color: rgb(113, 192, 67);
}

.card .card-bg {
    position: absolute;
    top: 50%;

    width: 80%;
    opacity: 1;

    transform: translateY(-50%);

    transition: all .2s ease, opacity .6s linear;
}

.card:hover .card-bg {
    top: 30%;

    width: 60%;
}

/* -------------------------------------------------- */

#project-wrapper {
    position: fixed;
    top: 0; left: 0;
    z-index: 5;
    
    display: none;

    height: 0;
    width: 0;
    padding: 2.5%;
    text-align: center;

    backdrop-filter: blur(.5rem);
    background-color: rgba(0, 0, 0, .4);
}

#project-wrapper ::-webkit-scrollbar {
    width: 1rem;
    background-color: transparent;
}

#project-wrapper ::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, .5);
}

body.project-visible #project-wrapper {
    display: flex;
    align-items: center;

    height: 100vh;
    width: 100%;
}

#project-wrapper > div {
    grid-template-columns: 1fr;

    position: relative;
    top: 0; left: 50%;

    height: auto;
    max-height: 100%;
    max-width: 50rem;
    border-radius: 1rem;
    overflow: hidden;
    padding: 0;
    background-color: var(--base_color);

    transform: translateX(-50%);
}

#project-wrapper h2 {
    position: absolute;
    top: .5rem; left: 50%;

    width: 100%;
    font-size: 4rem;
    color: var(--secondary_color);
    text-shadow: .2rem .2rem .4rem var(--shadows);

    transform: translateX(-50%);
}

.pictures {
    position: relative;
    z-index: -1;

    height: auto;
    max-height: 25rem;
    width: 100%;
    overflow: hidden;

    background-color: rgba(0, 0, 0, .25);
}

.slider {
    display: flex;
    height: 100%;
    
    transition: transform .4s ease-in-out
}

.slider img {
    height: 100%;
    width: 100%;
}

.pictures > i {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    z-index: 1;

    height: 3rem;
    width: 3rem;
    border: none;
    background-color: transparent;

    font-size: 2.5rem;
    opacity: .5;

    cursor: pointer;

    transform: translateY(-50%);
}

.pictures > i.js-prev-btn {
    left: 1.5rem;
}

#project-wrapper p {
    height: auto;
    max-height: 35rem;
    padding: 1.5rem 2.5rem;
    margin: 0 .5rem;
    overflow-y: scroll;

    text-align: justify;
    font-size: 1.5rem;
}

#project-wrapper p span.center {
    display: block;
    text-align: center;
    font-size: inherit;
}

#project-wrapper p a {
    display: inline-block;
    font-size: inherit;
    color: #89bac0;
}

#project-wrapper p a:hover {
    color: var(--secondary_color_op);
}

.technos { 
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 5rem;
    width: 100%;
    padding: .5rem;

    background-color: rgba(0, 0, 0, .25);
}

#project-wrapper button.js-project-close {
    position: absolute;
    top: 1.5rem; right: 1.5rem;
    z-index: 10;

    cursor: pointer;
    pointer-events: visible;

    height: 2.5rem;
    width: 2.5rem;
    border: none;
    background-color: transparent;
}

#project-wrapper button.js-project-close::before, 
#project-wrapper button.js-project-close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    height: 2.2rem;
    width: .26rem;
    background-color: var(--secondary_color);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: transform .2s ease;
}

#project-wrapper button.js-project-close::after {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.technos img {
    width: 5rem;
}

/* -------------------------------------------------- */

.card > button {
    position: absolute;
    bottom: -5rem;
    
    height: 4rem;
    width: 4rem;
    padding: 0;

    font-size: 3rem;
    font-weight: 500;
    color: var(--secondary_color);
    background-color: transparent;

    pointer-events: visible;

    border-radius: 5rem;
    border: solid .2rem var(--secondary_color);

    transition: all .3s ease;
}

.card > button::before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;

    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 350%;

    transform: translateX(-50%) translateY(-50%);

    transition: content .3s .5s ease;
}

.card:hover > button {
    bottom: 2rem;
}

.card > button:hover {
    width: 12rem;
    color: var(--base_color);
    background-color: var(--secondary_color);
    box-shadow: .4rem .4rem .8rem var(--shadows);
}

.card > button:hover::before {
    content: 'Read More';
    font-size: 1.5rem;
    font-weight: 600;
}